
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/tables";

body {
    background-color: #f1f1f1 !important;
    color: #7a7a7a;
}

$white: #282828;
$info: #0075db;
$success: #2ecc40;
$danger: #ff4136;
$warning: #f39c12;
$primary: $info;

.cursor-pointer {
    cursor: pointer;
}